<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/saldo.css">
</head>
<body>

    <div class="container mt-5 text-center">
        <h1 style="font-family: Verdana, Geneva, sans-serif;">Saldo - Estaciona Fácil</h1>
    </div>

    <div class="container mt-5 text-center">
        <div class="circle-container">
            <div class="circle">
                <h2 class="saldo-value">1000,00</h2>
            </div>
            <h3 class="saldo-text">Saldo Disponível</h3>
        </div>
        <div class="divider"></div>
        <h2>Obtenha mais crédito</h2>
        <button class="btn btn-primary mt-3">Clique aqui para obter mais crédito</button>
        <div class="divider"></div>
        <h2>Cadastre seu número de telefone</h2>
        <button class="btn btn-primary mt-3">Clique e cadastre seu número de telefone</button>
        <div class="divider"></div>
        <h2>Pague com seu cartão de crédito</h2>
        <button class="btn btn-primary mt-3">Cadastre seu cartão de crédito</button>
        <div class="divider"></div>
        <button class="btn btn-primary mt-3" onclick="location.href='/vaga'">Ir para as Vagas</button>
    </div>
</body>
</html>
